.todo{
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    border-radius: 10px;
}

.completed {
    text-decoration: line-through;
    background-color: lightgreen;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 7px;
  }

  .pending{
    background-color: lightgrey;
    color: black;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 7px;
  }

  .btn{
    margin: 20px;
    background-color: rgb(240, 29, 29);
    border: none;
    padding: 10px;
    border-radius: 7px;
  }

  .list{
    padding-left: 0;
  }
  .list span{
    padding: 10px;
  }

  .checkbox{
    margin: 20px;
  }

  .textinput{
    padding: 10px;
  }

  .taskinput button{
    padding: 10px;
  }
  